.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.topBar {
    grid-column: 1/4;
    grid-row: 1;
}

.midContainer {
    grid-column: 1/2;
    grid-row: 2/3;
}

.smContainer {
    grid-column: 2;
    grid-row: 2/3;
}

.smContainer2 {
    grid-column: 3;
    grid-row: 2/3;
}
